MSA_LLM_API_BASE=http://10.10.20.92:8009/v1
MSA_LLM_MODEL=/models/gpt-oss-120b
MSA_LLM_API_KEY=

MSA_SLM_API_BASE=http://10.10.20.92:8007/v1
MSA_SLM_MODEL=/models/gpt-oss-20b
MSA_SLM_API_KEY=

MSA_QWEN_API_BASE=http://10.10.20.43:8008/v1
MSA_QWEN_MODEL=Qwen3-14B-AWQ
MSA_QWEN_API_KEY=


# OPENAI_API_KEY
